
<div class="row">
	<main class="col-md-12">
		<h1> Welcome to my about Page </h1>
		<p>
			Here you'll find information about myself.
		</p>
		<h2> About Me </h2>
		<p>
			I'm Roma Malla Thakuri (Student Email: rmalla-thakuri@myseneca.ca) from BTT- Seneca College. The Web-700 course has refined my skills and granted me invaluable real-world insights. Eager to leverage this knowledge in future projects with creativity and confidence. Grateful for the immersive learning experience that has ignited my passion.
	</main>
</div>