<header>Courses</header>
<form action="/courses/add" method="post" class="form">
  <div class="input-box">
    <input type="text" name="courseCode" placeholder="Enter Course Code" />
  </div>
  <div class="input-box">
    <input type="text" name="courseDescription" placeholder="Enter Course Description" />
  </div>
  <button>Submit</button>

</form>
 