<!DOCTYPE html>
<html>

<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">

    <link rel="stylesheet" href="/css/theme.css" type="text/css">
</head>

<body>
    <nav class="nav1 navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Shahman Iqbal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
            </ul>
        </div>
    </nav>
    <div class="spacer"></div>

    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <h2>Tables</h2>
                <p>Table containing details
                <h2>Company Table</h2>
                <table style="width:100%">
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                    <tr>
                        <td>Systems</td>
                        <td>sys@gmail.com</td>
                        <td>Pakistan</td>
                    </tr>
                    <tr>
                        <td>Popular Pipes</td>
                        <td>pipe@gmail.com</td>
                        <td>Pakistan</td>
                    </tr>
                </table>
                <div class="spacer"></div>
                <h2>Student Table</h2>

                <table style="width:100%">
                    <tr>
                        <th>Student 1</th>
                        <th>Student 2</th>
                        <th>Student 3</th>
                    </tr>
                    <tr>
                        <td>Shahman</td>
                        <td>Iqbal</td>
                        <td>Hassan</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                </table><br />
                <h2>Lists</h2>
                <ol>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <ol>
                        <li>Black</li>
                        <li>Green</li>
                    </ol>
                    <li>Milk</li>
                    <li>Mojito</li>
                    <li>Water</li>
                </ol>
                <h1>Images</h1>
                <img src="http://images.squarespace-cdn.com/content/v1/5e114807f3ccf3541b3d490d/1610605074877-NGQBHSBFKR46Z22VVLMW/Cricket+2.jpeg"
                    width="400" height="350">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj2QQcC3LXB4yY2lvb8B3aJR7P3z-VuhKr_g&amp;usqp=CAU"
                    width="400" height="350">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSycI9GfbFRfzTPLe1_-tjhvM4V4XaWBwczXQ&amp;usqp=CAU"
                    width="400" height="350">

                <p>Images on the website</p>
                <h1>Audio</h1>
                <audio controls autoplay muted>
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
                        type="audio/mp3">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg"
                        type="audio/mpeg">
                    Your browser does not support the audio element.

                </audio>
                <p>Audio files on the website</p>
                <h1>Videos</h1>
                <video width="300" height="240" controls>
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
                        type="video/mp4">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
                        type="video/ogg">
                    Your browser does not support the video tag.

                </video>
                <p>Video files on the website</p>

            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>